ITMO_XML_Homeworks/lessons1_XML.xml

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TimeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Item"  maxOccurs="3">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Teacher" type="xs:string" />
              <xs:element name="ClassTime" type="xs:string" />
              <xs:element name="Begin" type="xs:string" />
              <xs:element name="End" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>